.box-container {
    position: sticky;
    height: 800px;
    width: 100%;
    background-color: transparent;
    margin-top: 10%;

}

.About {
    text-align: center;
    overflow-y: hidden;

}

.outline1 {
    width: 80%;
    height: 2px;
    background-color: #b83a5a;
    border-radius: 5%;
    margin: 0 auto;

}

.content-container {
    position: sticky;
    width: 100%;
}

.info-container {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

#name,
#degree {
    font-size: 1rem;
    overflow-y: hidden;
}

#me-info {
    font-size: 12px;
    text-align: justify;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
    width: 65vw;
}

.skills-container h2 {
    font-size: 26px;
    overflow-y: hidden;
}
.skills-cover1,
.skills-cover2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.skill>p {
    font-size: 16px !important;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .content-container {
        overflow-y: hidden;
    }
    #me-info{
        width: 60vw;
    }
    #degree{
        width:90vw;
        margin-left:auto;
        margin-right:auto;
    }
    .skills-container{
        width: 75vw;
    }

}

@media screen and (min-width:581px) and (max-width:768px) {
    .content-container {
        overflow-y: hidden;
    }
}