#About{
    position: sticky;
    height: 20%;
    width: 100%;
    background-color: transparent;
    padding-top: 5%;

}

.About {
    text-align: center;
    overflow-y: hidden;

}
.About>span{
    font-size: 2rem;
}

.outline1 {
    width: 80%;
    height: 2px;
    background-color: #b83a5a;
    border-radius: 5%;
    margin: 0 auto;

}

.content-container {
    position: sticky;
    width: 100%;
}

.info-container {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

#name{
    font-size: 1.1rem;
    overflow-y: hidden;

}
#degree {
    font-size: 0.8rem;
    overflow-y: hidden;
}

#me-info {
    font-size: 0.7rem;
    text-align: justify;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7%;
    width: 100%;
    overflow: hidden;
}

.skills-container h2 {
    font-size: 26px;
    overflow-y: hidden;
}
.skills-cover1,
.skills-cover2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
}

#skill-desc {
    font-size: 16px ;
    text-align: center;
    margin-bottom: 0 !important;
}

@media all and (min-width:320px) and (max-width:580px) {
    .content-container {
        overflow-y: hidden;
    }
    #me-info{
        width: 85%;
        font-size: 0.6rem;
        margin-top: 5%;
        overflow-y: hidden;
    }
    #degree{
        width:90vw;
        margin-left:auto;
        margin-right:auto;
    }
    .skill{  
        width: 100%;
    }
    img, svg{
        transform: scale(0.6);
    }
    .skills-container{
        width: 100vw;
        overflow-y: auto;
    }
    #skill-desc{
        font-size: 0.4rem;
    }
    .About>span{
        display: unset!important;
    }
    #About{
        overflow-y: hidden;
    }

}

@media all and (min-width:581px) and (max-width:768px) {
    .content-container {
        overflow-y: hidden;
    }
    .About>span{
        display: unset!important;
    }
}