#Portfolio{
    height: 70vh;
    margin-top: 10vh;
}
.box-container
/* Fixing styling */
/*Mostly just testing around dev tools and figuring it out*/
.carousel-container{
    height: 90%;
    
}
.carousel-info{
    height: 100%;
}

.outline-3 {
    width: 80%;
    height: 2px;
    background-color: #b83a5a;
    border-radius: 5%;
    margin: 0 auto;

}
.h3-responsive{
    text-align: center;
    font-size: 2rem;
}


@media all and (min-width:320px) and (max-width:580px) {
    #Portfolio{
        height: 90vh;
        overflow-y: hidden;
    }
    .carousel-info{
        height: 80%;
       
    }
    .box-container
    .carousel-container{
        height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    
    }
  
    .h3-responsive {
        overflow-y: hidden;
    }
   
}


@media all and (min-width:581px) and (max-width:768px) {
    #Portfolio{
        height: 80vh;
    }
    
    .h3-responsive {
        overflow-y: hidden;
    }
    .carousel-info{
        overflow-y: hidden;
    }
}

