#Portfolio{
    padding: 2vw 0px;
    margin-top: 5vh;
}

.h3-responsive{
    text-align: center;
}


@media screen and (min-width:320px) and (max-width:580px) {
    #Portfolio{
        height: 100vh;
    }
    
    
    .h3-responsive {
        overflow-y: hidden;
    }
}


@media screen and (min-width:581px) and (max-width:768px) {
    #Portfolio{
        height: 100vh;
    }
    
    .h3-responsive {
        overflow-y: hidden;
    }
}