#Portfolio{
    padding: 2vw 0px;
    margin-top: 10vh;
}
.carousel-container{
    height: 80%;
}
.carousel-info{
    height: 100%;
}
.owl-carousel.owl-loaded {
    display: block;
}

.h3-responsive{
    text-align: center;
    font-size: 2rem;
}


@media all and (min-width:320px) and (max-width:580px) {
    #Portfolio{
        height: 100vh;
    }
    .owl-carousel.owl-loaded {
        display: block;
        height: 70vh;
    }
    
    .h3-responsive {
        overflow-y: hidden;
    }
   
}


@media all and (min-width:581px) and (max-width:768px) {
    #Portfolio{
        height: 100vh;
    }
    
    .h3-responsive {
        overflow-y: hidden;
    }
    .carousel-info{
        overflow-y: hidden;
    }
}

