#Contacts {
    padding: 50px;
    box-sizing: border-box;
    margin-top: 8%;
}

.contact-title {
    text-align: center;
}

.contact-description {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 4%;
}

.outline3 {
    width: 80%;
    height: 2px;
    background-color: #272223f1;
    border-radius: 5%;
    margin: 0 auto;
    

}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:3% ;
    width: 70%;
}

.button-submit{
    margin-top: 10%;
}

.text-container{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-container>p{
    font-size: 1rem;
    margin-bottom: 1%;
}
.text-container>h5{
    font-size: 1rem;
}