#Contacts {
    margin-top: 20vh;
    height: 100vh;
    
}
#contentcontainer{
  height: max-content;
}
.contact-title {
    text-align: center;
}

.contact-description {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 4%;
}

.outline3 {
    width: 80%;
    height: 2px;
    background-color: #272223f1;
    border-radius: 5%;
    margin: 0 auto;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    width: 70vw;
}

.button-submit {
    margin-top: 10%;
}

.button-submit:hover{
    background-color: beige;
}

.text-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-para {
    font-size: 1rem;
    margin-bottom: 1%;
}

.header-five {
    font-size: 1rem;
}



@media screen and (min-width:320px) and (max-width:580px) {
    #Contacts {
        margin-top: 7vh;
    }
    .contact-title {
        overflow-y: hidden;
    }

    .header-five {
        margin-top: 6vh;
        overflow-y: hidden;
        font-size: 16px;
    }
    .contact-para{
        font-size: 16px;
    }
    .button-submit:hover{
        background-color: beige;
    }
    .mb-3.input-group{
            width: 65vw;
    }
    .input-group>.form-control, .input-group>.form-select {
        height: 5vh;
    }
    
}


@media screen and (min-width:581px) and (max-width:768px) {
    #Contacts {
        margin-top: 15vh;
    }
    .contact-title {
        overflow-y: hidden;
    }
    .header-five {
        margin-top: 5vh;
        overflow-y: hidden;
        font-size: 22px;
    }
    .contact-para{
        font-size: 22px;
    }
    .button-submit:hover{
        background-color: beige;
    }
    
}
