.home-background{
    background-image: url('../images/spotlight.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-position: top;
}
.space-top {
    margin-top: auto;
    margin-bottom: auto; 
}

.head1 {
    font-size: 40px;
    text-align: center;
    padding-top: 15vh;
    margin-top: auto;
    
}

.head3 {
    font-size: 25px;
    text-align: center;
    margin-top: 0%;
    
}
path{
    color: #d199a7ce;
    
}
.para1 {
    font-size: 25px;
    text-align: center;
    margin-top: 0%;
}
.para1>span{
    color: #fff;
    font-weight: 600;
    opacity: 1;
}
.head1>span{
    color: #fff
}
.head3>span{
    color: #fff
}

.link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:320px) and (max-width:579px) {
    .space-top {
        margin-top: 10%;
        overflow-y: hidden;
    }
    .head1{
        overflow-y: hidden; 
        padding-top: 40vh;
        
    }
    
    .head1 > span{
        display: unset!important;
        font-size: 1.5rem;
    }
    .head3>span{
        display: unset!important;
        font-size: 1.2rem;
    }

    .head3 {
        overflow-y: hidden;
        font-size: 18px;
    }
    .para1>span{
        font-weight: 600;
        font-size: 18px;
    }
}

@media screen and (min-width:580px) and (max-width:768px) {
    .space-top {
        margin-top: 10vh;
        overflow-y: hidden;
    }
    .head1  {
        overflow-y: hidden;   
    }
    .head3 {
        overflow-y: hidden;
    }
    .head1 > span{
        display: unset!important;
    }
    .head3>span{
        display: unset!important;
    }
}

@media screen and (min-height:825px){
    .head1{
        padding-top: 25vh;
    }
}