.Main-container{

}
.whatdo {
    text-align: center;
    margin-top: 10%;

}

.outline2 {
    width: 80%;
    height: 2px;
    background-color: #b83a5a;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

}

.items {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    list-style-type: none;
    width: 72vw;
}

.item-1 {
    margin-bottom:5%;
    overflow: hidden;
}
.item-2{
    overflow: hidden;
}
.item-3{
    overflow: hidden;
}

.icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.css-1ie873t {
    display: flex;
    width: -webkit-fill-available;
}

.icon-style>img {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    transform: scale(0.47);
}

.icon-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items:center;
}

.icon-title {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
}

.icon-text {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .whatdo {
        overflow-y: hidden;
    }
    .icon-text{
        font-size: 14px;
    }
    .icon-title{
        font-size: 0.8rem;
    }
    .icon-style>img {
       
        transform: scale(0.55);
    }
}


@media screen and (min-width:581px) and (max-width:768px) {
    .whatdo {
        overflow-y: hidden;
    }
    .icon-text{
        font-size: 17px;
    }
    .icon-title{
        font-size: 1.2rem;
    }
    .icon-style>img {
       
        transform: scale(0.75);
    }
}