
.card {
    text-align: center;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    transition: transform 0.5s;
    background: linear-gradient(135deg, #272223f1, #b83a5a  50%,#272223f1 75%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
}


.card-image {
    width:50%;
    height: auto;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 4%;
}

#app-title{
   font-size: 1.3rem;
   text-decoration: underline;
}
#app-para{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    text-align: justify;
}
.button-containerimp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}




@media all and (min-width:320px) and (max-width:580px) {
    .owl-stage{
        overflow-y: hidden;
    }
    #app-title{
        font-size: 1.1rem;
        overflow: hidden;
    }
    #app-para{
        font-size:0.6rem;
        overflow: hidden;
    }
    .card{
        height: 50vh;
    }
    .card-description{
        overflow: hidden;
    }
    .button-containerimp{
        width: 100%;
    }
    .btn-sm{
        transform: scale(0.5);
    }
    #carousel-images{
        overflow-y: hidden;
    }
    
}


@media all and (min-width:581px) and (max-width:768px) {
    .owl-stage{
        overflow-y: hidden;
    }
    .owl-stage-outer{
        overflow-y: hidden;
    }
    #app-title{
        font-size: 1.2rem;
        overflow: hidden;
    }
    #app-para{
        font-size:1rem;
        overflow: hidden;
    }
    .card{
        height: 50vh;
    }
    .card-description{
        overflow: hidden;
    }
}

@media all and (min-width:1600px){
   #app-para{
       text-align: center;
   }
}